{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "bugfixes": true,
          "targets": { "node": 16 },
          "useBuiltIns": "usage",
          "corejs": 3
        }]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
