node_modules
.DS_Store
dist
dist-ssr
*.local
/build/notarize.js
/build/AuthKey_JTMT429KVA.p8
/build/JWT.js
/build/Legacy.js
/electron
/release
/icon.sh
yarn.lock
app-update.yml
configs/publish.ts
latest-mac.yml
.idea
/test.js
/static/brew
yarn-error.log
/build/phpwebstudy_mas_production.provisionprofile
/sudo
