.dark {
  .app-info {
    .app-version span {
      color: $--dk-app-version-color;
    }
    .engine-info {
      h4 {
        color: $--dk-app-engine-title-color;
      }
      ul {
        color: $--dk-app-engine-info-color;
      }
    }
  }

  .copyright a {
    color: $--dk-app-copyright-color;
  }

  .aside {
    background-color: $--dk-aside-background;
    color: $--dk-aside-text-color;
  }
  .aside-inner{
    .top-tool{
      border-bottom: 2px solid #242737;
    }
  }

  /* Element UI
  -------------------------- */
  .el-card {
    background-color: $--dk-table-background;
    color: $--dk-table-text-color;
    border-color: $--dk-table-border-color;

    .el-card__header {
      border-color: $--dk-table-border-color;
    }
  }

  .el-table {
    background-color: $--dk-table-background;
    color: $--dk-table-text-color;
    tr {
      background-color: $--dk-table-background;
    }
    th {
      background-color: $--dk-table-th-background;
      color: $--dk-table-text-color;
    }
    th.is-leaf, td {
      background-color: $--dk-table-background;
      color: $--dk-table-text-color;
      border-bottom-color: $--dk-table-border-color;
    }
  }
  .el-table thead th.is-leaf {
    background-color: $--dk-table-th-background;
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td,
  .el-table--enable-row-hover .el-table__body tr.el-table__row--striped:hover > td {
    background-color: $--dk-table-hover-background;
  }

  .el-table--group::after, .el-table--border::after, .el-table::before {
    background-color: $--dk-table-border-color;
  }

  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background-color: $--dk-table-striped-background;
  }

  .el-table__inner-wrapper::before {
    background-color: $--dk-table-border-color;
  }
}

.main-right-panel{
  background: #1d2033;
  color: rgba(255,255,255,0.7);
  flex: 1;
  font-size: 14px;
  height: 100vh;
}
